name: CI/CD MLflow Local

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow scikit-learn pandas numpy

      - name: Train model
        run: |
          cd MLProject
          python modelling.py

      - name: Debug artifacts
        run: |
          ls -R mlruns/0
          cat MLProject/run_id.txt

      - name: Build Docker image
        run: |
          RUN_ID=$(cat MLProject/run_id.txt)
          mlflow models build-docker \
            --model-uri "runs:/${RUN_ID}/artifacts/model" \
            --name cc:latest
